/* 
    Copyright 2022 HolyCorn Software
    The CAYOFED People System
    This stylesheet determines the overvall looks of a standard page
*/

.hc-cayofedpeople-standard-page >.container{
    display:flex;
    gap:2em;
    flex-direction:column;
}

.hc-cayofedpeople-standard-page >.container >.content{
    min-height:78vh;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    gap:3em;
}

.hc-cayofedpeople-standard-page >.container >.navbar{
    position:sticky;
    top:-12px;
    z-index:5;
}

body{
    margin:0px;
    position:relative;
    font-family:k2d;
}