/*  
    Copyright 2022 HolyCorn Software
    The CAYOFED People System

    The Modern Faculty of Users

    This stylesheet beautifies the account confirmation page
*/


body{
    width:100%;
    position:relative;
    margin:0px;
}