/*  
    Copyrignt 2022 HolyCorn Software
    The CAYOFED People System
    This stylesheet gives beauty to the LoginNavigationsWidget widget
*/


.hc-cayofedpeople-login-navigations>.container {
    display: flex;
    justify-content: center;
}

.hc-cayofedpeople-login-navigations>.container>.main {
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: center;

    width: clamp(250px, 600px, 90vw - 2em);
    background-color: rgb(168, 223, 245);
    border-radius: 10px;
    color: rgb(51, 51, 56);

    padding: 1em;
}

.hc-cayofedpeople-login-navigations>.container>.main>.caption {
    font-size: 1.5em;
}

.hc-cayofedpeople-login-navigations>.container>.main>.actions {
    display: flex;
    gap: 2em;
    justify-content: space-between;
    flex-wrap: wrap;
    color:rgb(6, 28, 155);
}




.hc-cayofedpeople-login-navigation>.container {
    cursor: pointer;
}

.hc-cayofedpeople-login-navigation>.container::before {
    content: '';
    position: absolute;
    width: 0%;
    top: 100%;
    height: 0.125em;
    border-radius: 0.5em;
    background-color: black;
    transition: 0.25s 0.125s;
}

.hc-cayofedpeople-login-navigation>.container:hover:before {

    width: 100%;
}