/*  
    Copyright 2022 HolyCorn Software
    The CAYOFED People System
    This stylesheet determines to some extent... The looks of the zone-input popup
*/

.hc-cayofedpeople-zonation-zone-input-popup-content {
    display: flex;
    flex-direction: column;
    align-items:center;
    gap: 1em;
    max-width:650px;
}

.hc-cayofedpeople-zonation-zone-input-popup-content >.hc-action-button{
    display:grid;
    width:100%;
}

.hc-cayofedpeople-zonation-zone-input-popup-content >.cancel-button{
    transition:0.25s 0.125s;
    cursor:default;
}
.hc-cayofedpeople-zonation-zone-input-popup-content >.cancel-button:hover{
    color:rgb(215, 21, 99);
}
