/*  
    Copyright 2022 HolyCorn Software
    The CAYOFED People System
    The Modern Faculty of Users

    This stylesheet gives style to the action-popup, a component of the phonelogin provider

*/

.hc-cayofedpeople-phonelogin-action-popup-content {
    overflow:hidden;
    max-width:350px;
    min-height:100px;
}

.hc-cayofedpeople-phonelogin-action-popup-content .hc-infinite-spinner-blocker {
    font-size:0.5em;
}


.hc-cayofedpeople-phonelogin-action-popup-content >.container{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:2em;

    font-family:k2dThin;
}

.hc-cayofedpeople-phonelogin-action-popup-content >.container >.main{
    width:100%;
    position:relative;
}

.hc-cayofedpeople-phonelogin-action-popup-content >.container >.main >.hc-action-button{
    display:flex;
}