/*  
    Copyright 2022 HolyCorn Software
    The CAYOFED People System
    This stylesheet determines how a single item on the overview widget of the contact-input widget will look like
*/

.hc-cayofedpeople-contact-input-overview-item>.container>.img img {
    width: 2em;
}

.hc-cayofedpeople-contact-input-overview-item>.container {
    box-shadow: 0px 0px 10px rgb(203, 214, 227);
    border-radius: 0.25em;
    padding: 0.125em;
    min-width:3em;
    display:flex;
    flex-direction:column;
    gap:0.25em;
    align-items:center;
}


.hc-cayofedpeople-contact-input-overview-item.highlighted >.container{
    border:1px solid red;
}