/*  
    Copyright 2022 HolyCorn Software
    The CAYOFED People System
    This stylesheet controls the section of the contact-input widget where contacts can be easily edited or modified
*/


.hc-cayofedpeople-contact-input-overview >.container >.main{
    display:flex;
    flex-wrap:wrap-reverse;
    gap:2em;
    align-items:center;
}

.hc-cayofedpeople-contact-input-overview >.container >.main >.items{
    display:flex;
    flex-wrap:wrap;
    gap:1.5em;
}

.hc-cayofedpeople-contact-input-overview >.container >.main >.add-btn{
    width:1em;
    height:1em;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color:rgb(216, 18, 107);
    color:white;
    font-family:archive;
    border-radius:0.25em;
    padding:0.125em;
    font-size:1.5em;
    cursor:pointer;
    transition:0.25s 0.125s;
}

.hc-cayofedpeople-contact-input-overview >.container >.main >.add-btn:hover{
    background-color: white;
    color:rgb(216, 18, 107);
}