/**
Copyright 2022 HolyCorn Software
The CAYOFED People System
This widget (form-section) is part of the form-answer widget and allows question and answer
*/


.hc-cayofedpeople-phone-login {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    padding-top: 5em;
    position: relative;
    z-index: 1;

}


.hc-cayofedpeople-phone-login>.container {
    display: flex;
    flex-direction: column;
    gap: 2em;
    justify-content: flex-end;
    align-items: center;
    padding-top: 2em;
    padding-bottom: 4em;
    max-height: calc(100% - 5em);
    height: 100%;
    width: 100%;
}

.hc-cayofedpeople-phone-login>.container>* {
    width: 100%;
}

.hc-cayofedpeople-phone-login>.container>.logo {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    justify-items: center;
}

.hc-cayofedpeople-phone-login>.container>.logo>.caption {
    font-size: clamp(2em, 11.5vw, 3.75em);
    font-family: k2dExtraBold;
    text-transform: capitalize;
}


.hc-cayofedpeople-phone-login>.container>.form-view {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2em;
    align-items: center;
    max-height: calc(100% - 10em - 1em);
}

/** Constraints to everything in the main form section (form section is everything excluding logo)*/
.hc-cayofedpeople-phone-login>.container>.form-view>* {
    max-width: 600px;
    width: 90%;
}

.hc-cayofedpeople-phone-login>.container>.form-view>.form {
    /* background-color: #f5eed748; */
    padding: 1.25em;
    border-radius: 10px;
}

.hc-cayofedpeople-phone-login>.container>.form-view>.form::-webkit-scrollbar{
    background-color: rgba(0, 0, 0, 0.205);
    border-radius:5px;
    width:8px;
    transform:translateX(20px);
}
.hc-cayofedpeople-phone-login>.container>.form-view>.form::-webkit-scrollbar-thumb{
    background-color:rgb(126, 83, 2);
    border-radius:10px;
    width:2px;
    scrollbar-width:3px;
}

.hc-cayofedpeople-phone-login>.container>.form-view>.form input, .hc-cayofedpeople-phone-login>.container>.form-view>.form textarea {
    background-color: transparent;
}


/** The next button */
.hc-cayofedpeople-phone-login>.container>.form-view>.actions {
    display: flex;
}

.hc-cayofedpeople-phone-login>.container>.form-view>.actions>* {
    flex-grow: 1;
}

.hc-cayofedpeople-phone-login>.container>.form-view>.actions>.hc-action-button>.container {
    /* width:100%; */
    display: grid;
    font-size: 1.35em;
    border-radius: 10px;
    background-color: transparent;
    background: url('./res/magic-waves.png'), linear-gradient(rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.95));
    padding-top:0.65em;
    padding-bottom:0.65em;
}

/** The spacing between input fields */
.hc-cayofedpeople-phone-login>.container .hc-multi-flex-form>.container {
    gap: 1.5em;
}

.hc-cayofedpeople-phone-login .hc-slide-container>.container {
    width: 100%;
}

.hc-cayofedpeople-phone-login>.container input, .hc-cayofedpeople-phone-login>.container textarea, .hc-cayofedpeople-phone-login>.container input {
    border-color: #404555;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-radius: 10px;
    font-size: 1.1em;
    font-family: bariolBold;
    color: rgb(5, 5, 71);
    box-shadow:0px 0px 0px transparent;
    max-width: calc(100% - 0.45em);
}

.hc-slide-container>.container .primary-content {
    animation-duration: 0.75s !important;
}

.hc-slide-container.is-sliding-to-secondary>.container>* {

    transition-duration: 0.75s !important;
}


